<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joe.kosmo_post.board.qna.QnaMapper">
	<select id="getCount" resultType="long" parameterType="com.joe.kosmo_post.pager.Pager">
		select count("BOARD_NUM") from "tb_qna"
	</select>

	<select id="list" resultType="com.joe.kosmo_post.board.qna.QnaDTO" parameterType="com.joe.kosmo_post.pager.Pager">
		select
			"BOARD_NUM" as board_num,
			"BOARD_TITLE"::text as board_title,
			"BOARD_WRITER" as board_writer,
			"BOARD_CONTENT" as board_content,
			"BOARD_DATE" as board_date,
			"BOARD_INT" as board_hit
		from "tb_qna"
		order by "BOARD_NUM" desc
		limit #{perPage} offset #{startNum}
	</select>

	<select id="detail" resultType="com.joe.kosmo_post.board.qna.QnaDTO" parameterType="com.joe.kosmo_post.board.BoardDTO">
		select
			"BOARD_NUM" as board_num,
			"BOARD_TITLE"::text as board_title,
			"BOARD_WRITER" as board_writer,
			"BOARD_CONTENT" as board_content,
			"BOARD_DATE" as board_date,
			"BOARD_INT" as board_hit
		from "tb_qna"
		where "BOARD_NUM" = #{boardNum}
	</select>

	<insert id="create" parameterType="com.joe.kosmo_post.board.qna.QnaDTO">
		insert into "tb_qna" ("BOARD_TITLE", "BOARD_WRITER", "BOARD_CONTENT", "BOARD_DATE", "BOARD_INT", "BOARD_REF", "BOARD_STEP", "BOARD_DEPT")
		values (cast(#{boardTitle} as bigint), #{boardWriter}, #{boardContent}, current_timestamp, 0, 0, 0, 0)
	</insert>

	<update id="update" parameterType="com.joe.kosmo_post.board.qna.QnaDTO">
		update "tb_qna"
		set "BOARD_TITLE" = cast(#{boardTitle} as bigint),
			"BOARD_WRITER" = #{boardWriter},
			"BOARD_CONTENT" = #{boardContent}
		where "BOARD_NUM" = #{boardNum}
	</update>

	<delete id="delete" parameterType="com.joe.kosmo_post.board.BoardDTO">
		delete from "tb_qna" where "BOARD_NUM" = #{boardNum}
	</delete>
</mapper>


